.login-headerlogo {
    width: 100%;
    text-align: center;
    position: fixed;
    display: block;
    height: 140px;
    left: 0;
}

.login-formcontainer {
    position: fixed;
    top: 120px;
    display: block;
    width: 100%;
    text-align: center;
    left: 0px;
    justify-content: center;
    align-content: center;
}

.login-input {
    border: none;
    font: inherit;
    padding: 5px;
    border-radius: 5px;
    width: 500px;
}

.login-inputbtn {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-left: 240px;
    margin-right: 240px;
    background-color: rgb(53, 134, 34);
}